@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b1b1b;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hover-flow {
    @apply hover:text-yellow-500 select-none duration-500 ease-in-out;
  }
}

@layer base {
  b {
    @apply text-yellow-100;
  }
  b, h1, h2, h3 {
    @apply hover-flow;
  }
}